.skills__list {
  max-width: 600px;
  width: 95%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.skills__list-item {
  margin: .5em;
  padding: 1em;
  box-shadow: var(--shadow);
  transition: transform 0.2s linear, color .5s ease, border .5s ease;
  border: .1em solid;
  border-color: #fff;
  border-radius: 10%;
}

.skills__list-item:hover{
  transform: translateY(-7px);
  border-color: var(--clr-primary);
  color: var(--clr-primary);
}
